<div class="container-fluid ">
  <div class="large">

    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-xs">
      <a href="#" class="navbar-brand">
        <img src="../../assets/Shopify Main Logo.svg">
      </a>
      <ul class="navbar-nav ml-auto" id="mainnav">
        <li class="nav-item">
          <a class="nav-link">OUR PRODUCTS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">OUR WORK</a>
        </li>
        <li class="nav-item">
          <a id="btn" class="nav-link">LET'S TALK</a>
        </li>
        <li class="nav-item">
          <button (click)="OpenMenu()" class="navbar-toggler navbar-toggler-right" type="button">
            <img src="../../assets/Menu.svg">
          </button>
        </li>

      </ul>
      <div id="menu" class="sidenav">
        <nav class="navbar navbar-expand-lg">

          <a href="#" class="navbar-brand">
            <img src="../../assets/shopify single logo.svg">
          </a>
          <a href="javascript:void(0)" class="nav-link ml-auto" (click)="CloseMenu()"><img
              src="../../assets/close.svg"></a>
        </nav>
        <div class="row">
          <div class="col-lg-6">
            <div>
              <img src="../../assets/Grid.svg">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="menuitems">
              <div class="row">
                <a><b>Products</b> <span><img src="../../assets/yellow aarrow.svg"></span> </a>
              </div>
              <div class="row">
                <a><b>About</b> </a>
              </div>
              <div class="row">
                <a><b>Services</b> </a>
              </div>
              <div class="row">
                <a><b>Careers</b> </a>
              </div>
              <div class="row">
                <a><b>Contact Us</b> </a>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <img src="../../assets/Grid1.svg">
          </div>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="grid">
          <h1 class="heading"><span>Brand</span> <br><span>Experience</span> <br>Agency</h1>
          <p>Recognized Agency by <strong><span>Shop</span>ify</strong></p>

          <footer class="page-footer font-small">
            <div class="row ">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p><img src="../../assets/shopifyexperts.svg" class="footerOne"></p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p><img src="../../assets/shopifyplus.svg" class="footerTwo"></p>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="secondblock">
          <p>We're technologists and <br> entrepreneurs, so we understand <br>
            both the technical and business <br>
            challenge of creating digital <br> products </p>
          <p id="paraTwo"><span class="arrow"> Explore More </span><img src="../../assets/arrow.svg"></p>
        </div>
        <div>
          <img src="../../assets/Grid1.svg" class="grid1 float-right">
        </div>

      </div>

    </div>
  </div>
</div>
